<form enctype="multipart/form-data " method="post">
    {% csrf_token %}
  
    {% for campo in formulario %}
    <div class="field_container">
       
       <br>{{campo.label_tag}}
       {% if campo.field.widget.input_type == 'file' and campo.value %}
       <br>
       <img src="{{MEDIA_URL}}/{{campo.value}}" width="100">
       {% endif %}
       <br>
       {{campo.value}}
       {{campo}}
    </div>
    <div class="col-12 help-text">{{campo.errors}}</div>
    {% endfor %}
    <br>
    <input name="" id="" class="btn btn-primary" type="submit" value="Enviar">
    <a name="" id="" class="btn btn-danger" href="{% url 'albums' %}" role="button">Cancelar</a>
  </form>