{% extends "paginas/base.html" %}

{% block titulo %} Lista de Interpretes{% endblock%}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a name="" id="" class="btn btn-outline-success" href="{% url 'albums' %}" role="button">Atras</a>
        <a name="" id="" class="btn btn-info" href="{% url 'crearInterprete' %}" role="button">Agregar</a>
        </div>
    </div>
    <div class="card-body">
        <h4 class="card-title">LISTA DE INTERPRETES</h4>
        <div class="table-responsive">
            <table class="table table-light">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Nacionalidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if interpretes %}
                    {% for interprete in interpretes %}
                    <tr>
                        <td>
                            <img src="{{interprete.foto.url}}" height="100"> 
                        </td>
                        <td>{{interprete.nombre}}</td>
                        <td>{{interprete.apellido}}</td>                    
                        <td>{{interprete.nacionalidad}}</td>
                        <td>
                            <a name="" id="" class="btn btn-outline-warning btn-sm" href="{% url 'editarInterprete' interprete.id_interprete %}"  role="button">Editar</a>
                            <a name="" id="" class="btn btn-outline-danger btn-sm" href="{% url 'borrarInterprete' interprete.id_interprete %}" role="button">Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <p style="color: red">No hay registro de Interpretes</p>
                    {% endif %}
                    
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div> 

{% endblock%}