{% extends "paginas/base.html" %}

{% block titulo %} Lista de Formatos{% endblock%}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a name="" id="" class="btn btn-outline-success" href="{% url 'albums' %}" role="button">Atras</a>
        <a name="" id="" class="btn btn-info" href="{% url 'crearFormato' %}" role="button">Agregar</a>
        </div>
    </div>
    <div class="card-body">
        <h4 class="card-title">LISTA DE FORMATOS</h4>
        <div class="table-responsive">
            <table class="table table-light">
                <thead>
                    <tr>
                        
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if formatos %}
                    {% for formato in formatos %}
                    <tr>
                        <td>{{formato.tipo}}</td>
                        <td>
                            <a name="" id="" class="btn btn-outline-warning btn-sm" href="{% url 'editarFormato' formato.id_formato %}"  role="button">Editar</a>
                            <a name="" id="" class="btn btn-outline-danger btn-sm" href="{% url 'borrarFormato' formato.id_formato %}" role="button">Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <p style="color: red">No hay registro de Formatos</p>
                    {% endif %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div> 

{% endblock%}